node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.git
.github
.DS_Store
.env
.env.local
.env.production
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/api/prisma/*.js
apps/api/prisma/*.js.map
apps/api/prisma/*.d.ts
*.tsbuildinfo
